
.main {
    display: grid;
    grid-template-columns: 1fr 292px;
}

.content-left {
    display: flex;
    flex-flow: column;
    max-height: 100vh;
    position: relative;
}

.content-right {
    position: sticky;
    top: 0;
    right: 0;
    padding-bottom: 20px;

    background-color: #21222794;
    height: 100vh;
    max-height: 100vh;
}